.layout {
    display: flex;
    flex-direction: column;

    .navbar {
        position: fixed;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #000;
        width: 100%;
        padding: 0px 50px;
        z-index: 3;

        .logo-text {
            font-style: italic ;
            font-size: 30px;
            font-weight: bold;
            color: #fff;
        }

        .logo {
            width: 100px;
            height: 50px;
            background-size: contain;
        }
    }
};